@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@200;400;500&display=swap');
body{
  font-family: 'Inter',sans-serif;
  background-color: #0d071a;
}

#hero{
  background-image: url(/dist/img/_image.png);
  
}
